/* Layer activation based on media query */


@media screen and (min-width:700px) {
  @layer site;
}

/* Layer: page */
@layer page {
  h1 {
    text-decoration: overline;
    color: red;
  }
}

/* Layer: site */
@layer site {
  h1 {
    text-decoration: underline;
    color: green;
  }
}